@import './vars.scss';

.game {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 8%;
  margin-bottom: 8%;
  position: relative;

  @media screen and (max-width: $screenBreak) {
    max-width: 375px;
  }
}

.game-control-wrapper {
  width: 50%;
  background-color: #ddd;
  border-radius: 50%;
  border: solid 15px $borderColor;
  position: absolute;
  top: 23%;
  left: 25%;
  user-select: none;
  cursor: default;

  h1 {
    text-align: center;
    margin-top: 20%;
    font-family: 'Ultra', serif;
    font-size: 48px;
    margin-bottom: 5%;

    @media screen and (max-width: $screenBreak) {
      font-size: 30px;
    }
  }
}

.game-controls {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  @media screen and (max-width: $screenBreak) {
    font-size: 9px;
    padding: 0 9px;
  }
}
