@import './vars.scss';

.color-buttons {
  width: 45%;
  border: solid 7px $borderColor;
  transition: background-color 800ms;
  cursor: pointer;

  &::before {
    content: '';
    padding-top: 100%;
    float: left;
  }

  @media screen and (max-width: $screenBreak) {
    width: 40%;
    padding-top: 40%;
  }
}

.btn-0 {
  background-color: $green;
  border-top-left-radius: 100%;
  border-top: solid 15px $borderColor;
  border-left: solid 15px $borderColor;
}

.active-green {
  background-color: $greenActive !important;
}

.btn-1 {
  background-color: $red;
  border-top-right-radius: 100%;
  border-top: solid 15px $borderColor;
  border-right: solid 15px $borderColor;
}

.active-red {
  background-color: $redActive !important;
}

.btn-2 {
  background-color: $yellow;
  border-bottom-left-radius: 100%;
  border-bottom: solid 15px $borderColor;
  border-left: solid 15px $borderColor;
}

.active-yellow {
  background-color: $yellowActive !important;
}

.btn-3 {
  background-color: $blue;
  border-bottom-right-radius: 100%;
  border-bottom: solid 15px $borderColor;
  border-right: solid 15px $borderColor;
}

.active-blue {
  background-color: $blueActive !important;
}
