@import './vars.scss';

.color-buttons {
  width: 45%;
  border: solid 7px $borderColor;
  transition: background-color 800ms;
  cursor: pointer;

  &::before {
    content: '';
    padding-top: 100%;
    float: left;
  }

  @media screen and (max-width: $screenBreak) {
    width: 40%;
  }
}

.color-buttons__green {
  background-color: $green;
  border-top-left-radius: 100%;
  border-top: solid 15px $borderColor;
  border-left: solid 15px $borderColor;

  &:active, &--active {
    background-color: $greenActive;
  }
}

.color-buttons__red {
  background-color: $red;
  border-top-right-radius: 100%;
  border-top: solid 15px $borderColor;
  border-right: solid 15px $borderColor;

  &:active, &--active {
    background-color: $redActive;
  }
}
.color-buttons__yellow {
  background-color: $yellow;
  border-bottom-left-radius: 100%;
  border-bottom: solid 15px $borderColor;
  border-left: solid 15px $borderColor;

  &:active, &--active {
    background-color: $yellowActive;
  }
}

.color-buttons__blue {
  background-color: $blue;
  border-bottom-right-radius: 100%;
  border-bottom: solid 15px $borderColor;
  border-right: solid 15px $borderColor;

  &:active, &--active {
    background-color: $blueActive;
  }
}
