#power-button-wrapper {
  margin: 0 auto;
  margin-top: 40px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#toggle-power {
  width: 60px;
  height: inherit;
  display: inline-block;
  cursor: pointer;
  background-color: black;
}

#toggle-power-button {
  width: 50%;
  height: inherit;
  display: inline-block;
  background-color: blue;
  transition: transform 500ms;
}

.power-identifiers, #toggle-power {
  margin-right: 8px;
}

.power-on {
  transform: translateX(100%);
}
