@import './vars.scss';

#strict-button-wrapper {
  width: 65px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#strict-mode-light {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  border: solid 1px $borderColor;
  transition: background-color 800ms;
}

#strict-mode-button {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  border: solid 3px $borderColor;
  cursor: pointer;
}
