$green: #33DB00;
$greenActive: lighten($green, 15%);
$red: #BD2600;
$redActive: lighten($red, 15%);
$yellow: #FBFF0A;
$yellowActive: lighten($yellow, 20%);
$blue: #0A70FF;
$blueActive: lighten($blue, 15%);
