$green: #33DB00;
$greenActive: lighten($green, 25%);
$red: #BD2600;
$redActive: lighten($red, 25%);
$yellow: #FBFF0A;
$yellowActive: lighten($yellow, 35%);
$blue: #0A70FF;
$blueActive: lighten($blue, 25%);
